USE [Insight]
GO
/****** Object:  Table [dbo].[Data_SalesReps$]    Script Date: 19/11/2021 4:04:05 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_SalesReps$](
	[SalesRep] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Data_SalesReps$] ([SalesRep], [Email]) VALUES (N'AKSHI', N'akshi@supremecomponents.com')
INSERT [dbo].[Data_SalesReps$] ([SalesRep], [Email]) VALUES (N'ALEX MATHEWS', N'alex@supremecomponents.com')
INSERT [dbo].[Data_SalesReps$] ([SalesRep], [Email]) VALUES (N'ALVIN', N'alvin@supremecomponents.com')
GO
